*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/space2.png);
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    
}

.mc75{
    position: absolute;
    left: -200px;
    bottom: -150px;
    

    width: 175px;
    height: 150px;
   
    transform: rotateX(65deg) rotateZ(-10deg) rotateY(-10deg);
}   
.mc75 > img{
    width: 175px;
    height: 150px;
}

.destroyer{
    position: absolute;
    right: -200px;
    top: -150px;
    

    width: 175px;
    height: 150px;
   
    transform: rotateX(55deg) rotateZ(20deg) rotateY(-10deg);
}   

.destroyer > img {
    width: 163px;
    height: 121.5px;
}



.destroyer1{
    position: absolute;
    right: -200px;
    top: -150px;
    

    width: 175px;
    height: 150px;
   
    transform: rotateX(55deg) rotateZ(20deg) rotateY(-10deg);
}   

.destroyer1 > img {
    width: 163px;
    height: 121.5px;
}


.destroyer2{
    position: absolute;
    right: -200px;
    top: -150px;
    

    width: 175px;
    height: 150px;
   
    transform: rotateX(55deg) rotateZ(20deg) rotateY(-10deg);
}   

.destroyer2 > img {
    width: 163px;
    height: 121.5px;
}
.xwing {
    opacity: 0;
    position: absolute;
    bottom: 200px;
    z-index: -1;
    left: 150px;
    rotate: 140deg;
    transform: rotateY(75deg);
}
.xwing img {
    width: 150px;
    height: 75px;
}
.tie img{
    display: block;
    width: 50px;
    height: 50px;
}

.t1{
    position: absolute;
    opacity: 0;
    top: 75px;
    right: 125px;
    z-index: -1;
}

.t2{
    position: absolute;
    opacity: 0;
    top: 150px;
    right: 125px;
    z-index: -1;
}

.t3{
    position: absolute;
    opacity: 0;
    top: 150px;
    right: 175px;
    z-index: -1;
}
.t4{
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 250px;
    right: 100px;
}
.button{
	opacity: 0;
	position: absolute;
	bottom: 250px;
	left: 47%;
	z-index: 10;
	border: 1px solid #ddd;
	border-radius: 15px;
	padding : 10px;
	
}
a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.button:hover{
	background-color: #ddd;
	transition: 1s;
	
}