*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: row;
}

#bg {
  height: 100%;
  width: 400%;
  position: absolute;
  top: 0; 
  left: 0%;
  background-image: url(..//img/space1.png) ;
  background-repeat: repeat;
}


main {
  height: 100%;
  width: 99.9%;
  background-color: blueviolet;
  background-image: url(..//img/space1.png) ;
}

#origine {
  background-color: rgba(65, 105, 225, 0);
  height: 100%;
  width: 0.1%;
}


#Xwing{
  display: none;
  position: absolute;

  /* drag controler */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* cursor controler */
  /* pointer-events: none; 
  display: none;  */
}

#Xwing img{
  height: 200px; 
  width: auto; 
  rotate: 90deg; 
}

#Awing{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Awing img{
  height: 200px; 
  width: auto; 
  rotate: 90deg; 
}

#ETA{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ETA img{
  height: 200px; 
  width: auto; 
}

#Xbase {
  background-color: rgba(127, 255, 212, 0.322); /* color of the hitbox of the X-wing */
  z-index: 2; 
  height: 170px; 
  width: 170px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 150px;
}

#Abase {
  background-color: rgba(127, 255, 212, 0.322); /* color of the hitbox of the X-wing */
  z-index: 2; 
  height: 135px; 
  width: 200px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 150px;
}

#ETAbase {
  background-color: rgba(127, 255, 212, 0.322); /* color of the hitbox of the X-wing */
  z-index: 2; 
  height: 180px; 
  width: 200px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 150px;
}

.laser {
  z-index: 1;
  position: relative;
  top: 0;
  right: -50%; 
  height: 6px;
  width: 40px;
  border-radius: 50px;
  background-color: red;
  animation: laser 2.5s infinite;
}

@keyframes laser{
  0%{
    -webkit-box-shadow:0px 0px 35px 10px rgba(255,0,0,0.8);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
    box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
  }
  50%{
    -webkit-box-shadow:0px 0px 35px 10px rgba(255,0,0,0.5);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.5);
    box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.5);
  }
  100%{
    -webkit-box-shadow:0px 0px 35px 10px rgba(255,0,0,0.8);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
    box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
  }
}


h1 {
  color: yellow;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

#endgame {
  z-index: -1;
  opacity: 0;
}

#win {
  z-index: -1;
  opacity: 0;
}

.state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(44, 44, 44);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.state img {
  height: 400px;
  width: auto;
  border-radius: 20px;
}

.state div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}


#menu {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#menu img {
  height: 20vh;
  width: auto;
  border-radius: 20px;
}

#choice {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

.descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px;
}

.descrip:hover {
  border: 5px solid yellow;
  scale: 1.1;
  cursor: pointer;
}


#menu button {
  margin-top: 20px;
  background-color: rgb(44, 44, 44);
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

#menu button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.spanstyle {
  color: aqua;
  background-color: aqua;
  padding: 8px 4px;
  margin-left: 4px;
  -webkit-box-shadow:0px 0px 55px 2px rgba(0, 247, 255, 0.8);
  -moz-box-shadow: 0px 0px 55px 2px rgba(0, 247, 255, 0.8);
  box-shadow: 0px 0px 55px 2px rgba(0, 247, 255, 0.8);
}

#param {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#laserrange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#Status {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  background-color: rgb(44, 44, 44);
}

#StatusShield {
  display: flex;
  flex-direction: row;
}

#StatusHp {
  display: flex;
  flex-direction: row;
}


/* CSS Game number two */ 

#GameTwo{
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgb(107, 105, 107);
  /*background-image: url(../img/space1.png);*/
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 70% 20%;
  grid-template-areas: "blank1 blank2 blank3" "blank4 screen blank5" "blank6 blank7 blank8";

}

.blank1 {
  grid-area: blank1;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}

.blank2 {
  grid-area: blank2;
  z-index: 23;
  background-color:rgb(107, 105, 107);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.blank2 p {
  color: rgb(70, 70, 70);
  font-size: 30px;
  border: 2px solid rgb(39, 39, 39);
  width: fit-content;
  background-color: rgb(54, 65, 54);
  padding: 3px;
}

.blank3 {
  grid-area: blank3;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}

.blank4 {
  grid-area: blank4;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}

.blank5 {
  grid-area: blank5;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}

.blank6 {
  grid-area: blank6;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}

.blank7 {
  grid-area: blank7;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}

.blank8 {
  grid-area: blank8;
  z-index: 23;
  background-color:rgb(107, 105, 107);
}


#screen {
  grid-area: screen;
  z-index: 21;
  border: 5px solid rgb(39, 39, 39);
  background-image: url(../img/space1.png);
}

#glass {
  position: absolute;
  z-index: 24;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
}


.target1 {
  z-index: 22;
  background-image: url(../img/xwing.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  position : relative;
  overflow: hidden;

}

.target2 {
  z-index: 22;
  background-image: url(../img/awing.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  position : relative;
  overflow: hidden;
}

.target3 {
  z-index: 22;
  background-image: url(../img/ETA.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  position : relative;
  overflow: hidden;
}


.tire {
  background-color: brown;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
}

#Aim {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.the-button {
  border-radius: 50%;
  box-shadow: 0 0 .5em rgba(0,0,0,1), 
    inset 0 .25em .3em rgba(255,255,255,.3), 
    inset 0 -.25em .3em rgba(0,0,0,.5);
  cursor: pointer;
  font: inherit;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.the-button:before {
  background: linear-gradient(to bottom,  
    rgba(255,255,255,0.14) 0%, 
    rgba(255,255,255,0) 50%, 
    rgba(255,255,255,0) 100%);
  border-radius: 50%;
  content: " ";
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}

.the-button:active {
  box-shadow: 0 0 .5em rgba(0,0,0,1), 
    inset 0 .1em .3em rgba(0,0,0,.5), 
    inset 0 -.1em .3em rgba(0,0,0,.5);
}

.the-button:active:before {
  top: 11.5%;
}

.button-frame {
  background: #cc0000;
  border-radius: 50%;
  box-shadow: 
    0 0 .25em rgba(0,0,0,.9), 
    inset 0 .25em .125em rgba(255,255,255,.3), 
    inset 0 -.25em .125em rgba(0,0,0,.3);
  display: block;
  height: 6.8em;
  margin: -3.4em auto 0;
  padding: .55em;
  position: relative;
  top: 50%;
  width: 6.8em;
  z-index: 20;
}

.plastic {
  background: linear-gradient(to bottom,  #b01e1e 0%,#920f0f 100%);
}
