*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: row;
}

#bg {
  height: 100%;
  width: 400%;
  position: absolute;
  top: 0; 
  left: 0%;
  background-image: url(..//img/space1.png) ;
  background-repeat: repeat;
}


main {
  height: 100%;
  width: 99.9%;
  background-color: blueviolet;
  background-image: url(..//img/space1.png) ;
}

#origine {
  background-color: rgba(65, 105, 225, 0);
  height: 100%;
  width: 0.1%;
}


#Xwing{
  position: absolute;

  /* drag controler */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* cursor controler */
  /* pointer-events: none; 
  display: none;  */
}

#Xwing img{
  height: 200px; 
  width: auto; 
  rotate: 90deg; 
}

#base {
  background-color: rgba(127, 255, 212, 0.322); /* color of the hitbox of the X-wing */
  z-index: 2; 
  height: 170px; 
  width: 170px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 150px;
}

.laser {
  z-index: 1;
  position: relative;
  top: 0;
  right: -50%; 
  height: 6px;
  width: 40px;
  border-radius: 50px;
  background-color: red;
  animation: laser 2.5s infinite;
}

@keyframes laser{
  0%{
    -webkit-box-shadow:0px 0px 35px 10px rgba(255,0,0,0.8);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
    box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
  }
  50%{
    -webkit-box-shadow:0px 0px 35px 10px rgba(255,0,0,0.5);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.5);
    box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.5);
  }
  100%{
    -webkit-box-shadow:0px 0px 35px 10px rgba(255,0,0,0.8);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
    box-shadow: 0px 0px 35px 10px rgba(255,0,0,0.8);
  }
}


h1 {
  color: yellow;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

#endgame {
  z-index: -1;
  opacity: 0;
}

#win {
  z-index: -1;
  opacity: 0;
}

.state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(44, 44, 44);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.state img {
  height: 400px;
  width: auto;
  border-radius: 20px;
}

.state div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}